*.pyc
.DS_Store

.ipynb_checkpoints/**
makemore/.ipynb_checkpoints/**
/temp/temp.*
/.project
/.pydevproject
chromadb/**
chroma_db/**

# checkpoint
checkpoints/
storage/**
data/**

.vscode/**
venv-rag/**
